include ./_mixins.pug

doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title cat
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="shorcat icon", href="favicon.ico?v", type="image/x-icon")
		link(rel="icon", href="favicon.ico?v", type="image/x-icon")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300", rel="stylesheet")
		link(rel="stylesheet", href="bower/normalize.css/normalize.css")
		link(rel="stylesheet", href="css/main.css")

	body
		.conteiner
			header.header
				a(href="/", class="header__logo")
					img(class="header__logo-img", width="200", src="image/logo.svg" alt="logo")
				+social('social', [{className: "fa-vk", url: "https://vk.com/"}, {className: "fa-twitter", url: "https://twitter.com/"}, {className: "fa-google-plus", url: "https://plus.google.com/"}, {className: "fa-facebook", url: "https://www.facebook.com/"}])
				.hamburger
					.hamburger-box
						.hamburger-inner
				+nav('nav--mobile', [{title:"Как успокоить кошку?",url: "/page_1.html"}, {title:"Как отучить кошку орать?",url: "/page_2.html"}, {title:"Как отучить кошку грызть?",url: "/page_3.html"}, {title:"Как отучить кошку кусаться?",url: "/page_4.html"}, {title:"Как отучить кошку драть?",url: "/page_5.html"}])


			main.main
				aside.sidebar
					+nav('nav', [{title:"Как успокоить кошку?",url: "/page_1.html"}, {title:"Как отучить кошку орать?",url: "/page_2.html"}, {title:"Как отучить кошку грызть?",url: "/page_3.html"}, {title:"Как отучить кошку кусаться?",url: "/page_4.html"}, {title:"Как отучить кошку драть?",url: "/page_5.html"}])

				block content

			footer.footer
				.footer__copy @ 2018  При использовании материалов сайта прямая активная ссылка на них обязательна
				a(href="/going.html", class="footer__link") Войти
	
	script(src="bower/jquery/dist/jquery.js")
	script(src="js/main.js")