.social {
  margin: 0;
  padding: 0;
  align-self: flex-start;
}
.social__item {
  display: inline-block;
  font-size: 0;
  margin-bottom: 5px;
  padding: 5px 3px 3px 3px;
  background: #ddd;
  border-radius: 0 0 25px 25px;
  margin-right: 5px;
}
.social__link {
  text-decoration: none;
}
.social__link:before {
  display: inline-block;
  padding: 10px 10px;
  min-width: 36px;
  text-align: center;
  background: #fff;
  border-radius: 20px;
  font-size: 16px;
  color: #3E67C0;
  transition: 0.7s all;
}
.social__link:hover:before {
  color: #3585C3;
}
.fa-vk:before {
  color: hsl(199, 85%, 36%);
}
.fa-twitter:before {
  color: hsl(195, 100%, 60%);
}
.fa-google-plus:before {
  color: hsl(7, 71%, 55%);
}
.fa-facebook:before {
  color: hsl(221, 44%, 41%);
}
.fa-vk:hover:before,
.fa-twitter:hover:before,
.fa-facebook:hover:before,
.fa-google-plus:hover:before {
  color: hsl(0, 0%, 100%);
}
.fa-vk:hover:before {
  background-color: hsl(199, 85%, 36%);
}
.fa-twitter:hover:before {
  background-color: hsl(195, 100%, 60%);
}
.fa-google-plus:hover:before {
  background-color: hsl(7, 71%, 55%);
}
.fa-facebook:hover:before {
  background-color: hsl(221, 44%, 41%);
}