.main {
  flex: 1;
  display: flex;
  padding: 1% 2%;
}

.conteiner {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 960px;
  margin: auto;
  background-color: #fff;
}

.sidebar {
  flex-basis: 200px;

  @include tablets {
    display: none;
  }
}

.content {
  flex: 1;
  padding-left: 1rem;
}

.clear {
  clear: both;
  height: 15px;
}