extends ../main.layout.pug

block content
	.content
		article.page
			h1 Как отучить кошку кусаться?
			p.page__text-big
				img(class="page__image-small", src="image/cat-bite-finger-395786362.jpg", alt="cat bite finger 395786362" )
				span Как отучить кошку кусаться? Этим вопросом часто задаются хозяева усатых-полосатых, в чьих домах живут коты, подобранные с улицы, или в чьих домах живут вместе кошки и другие животные, или кошки и маленькие дети.
			.clear
			h2 Почему кошка кусается?
			p Как всегда, начнем с начала, с причин. Что же заставляет кошку кусаться?
			h4 • Игра
			p Все высшее животные играют, так они обучаются владеть своим телом, контактировать с окружающим миром, соплеменниками и другими живыми существами.
			p В процессе игры с однопометниками и матерью, котенок учится контролировать укус, понимать, что является болезненным, а что нет. Если котенка рано разлучили с «семьей», он не будет знать как правильно обращаться со своей челюсть и неизбежно будет тренироваться на людях и других животных в новом доме.
			p Кроме того, не забывайте, что котята любят все пробовать на зуб, потому что еще не знаю, что съедобно, а что нет, а еще потому, что у них меняются зубы.
			p Кусать, играя, могут и взрослые кошки. Также они могут прихватить зубами во время неприятных процедур (расчесывания, мытья, ветеринарного осмотра и т.д.) – это совершенно нормально. Но правильно воспитанная кошка с уравновешенным характером никогда не прокусит вашу руку до крови.
			p Иногда кошки кусают или царапают спящих людей – например, ноги, шевелящиеся под одеялом. Это происходит потому, что кошка не осознает: ноги тоже часть вашего тела.
			h4 • Агрессия
			p Не стоит забывать, что в природе, дикие кошки – одни из самых агрессивных животных. Агрессия – защита мелкого хищника от более крупных собратьев, связываться с таким – себе дороже.
			p Агрессию кошка часто проявляет в целях самозащиты. Угрозой кошка может посчитать все, что угодно – вспышку фотоаппарата, громкий звук, запах лекарств, усиленные тисканья и т.д.
			p Агрессия может быть продиктована и болью, которую испытывает кошка. Чаще всего такая агрессия возникает, если вы прикасаетесь к больному месту.
			p Еще один вид агрессии – территориальный. Кошка не любит чужих на своей территории, она воспринимает их как конкурентов. Такая агрессия может быть обращена на других животных, детей или даже вновь прибывших взрослых.
			p Половая агрессия – чуть ли не самый распространенный вид кошачьей агрессии. Чаще всего кусаются и бросаются на хозяев окотившиеся кошки, защищающие потомство, а также коты в период «гона».
			p Перенесенная агрессия – самый сложный тип агрессии, связанный с прошлым опытом кошки. Часто встречается у животных, подобранных с улицы. Испытанный ранее негатив заставляет кошку вести себя агрессивно даже по отношению к тому, кто не сделал для нее ничего плохого.
			h2 Как отучить кошку кусаться?
			p • Обязательно кастрируйте животное, если оно не предназначено для племенного разведения.
			p • Не играйте с кошкой руками и ногами, если она пытается это сделать самостоятельно – переключайте ее внимание.
			p • Правильно знакомьте кошку с новыми людьми и животными в вашем доме.
			p • Проинструктируйте всех домочадцев по поводу правильного общения с кошкой, особое внимание уделите детям.
			p • Перекройте кошке доступ в спальню, если она склонна атаковать ваши ноги или тыкать лапой в лицо.
			p • Регулярно (не реже раза в год) показывайте кошку ветеринару, и обязательно посетите врача внеурочно при подозрении на болевой синдром.
			p • Применяйте специальные успокоительные средства после консультации с ветеринаром.
			p • Обратитесь к зоопсихологу, если ничто из перечисленного выше не помогло.
			p Кусаться для хищника – естественно, надо только приучить его к контролированию своих действий.